* {
  margin: 0;
  padding: 0;
}
body {
  background: radial-gradient(circle at top center,#0e141b,#0e141a);
  text-align: center;
  font-family: 'Jura';
  font-weight: 300;
  overflow: hidden;
  letter-spacing: 8px;
  color: #e0e6ec;
}
.coloum,
.point {
  display: inline-block;
  font-size: 86px;
  line-height: 86px;
  vertical-align: top;
}
.coloum {
  transition: 0.5s;
}
.point {
  transform: translateY(calc(50vh - 55px));
  transition: 0.5s;
}
.point::after {
  content: ':';
}
.num {
  opacity: 0.25;
}
.num.now {
  opacity: 1;
  text-shadow: 1px 1px 2px #aee142 ;
}
.num.near {
  opacity: 0.35;
}
.num.far {
  opacity: 0.15;
}
.num.morefar {
  opacity: 0.1;
}
.show {
  display: none;
}